In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = '../../Data/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [3]:
print(app_train.shape)
app_train.dtypes

(307511, 122)

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [4]:
app_train.select_dtypes(include='int64')

,SK_ID_CURR,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,0,-9461,-637,-2120,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,0,-16765,-1188,-291,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0,-19046,-225,-2531,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,-19005,-3039,-2437,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,-19932,-3038,-3458,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,0,-16941,-1588,-477,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,1,-13778,-3130,-619,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0
7,100010,0,0,-18850,-449,-2379,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,0,-20099,365243,-3514,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,0,-14469,-2019,-3992,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
10,100014,0,1,-10197,-679,-738,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
11,100015,0,0,-20417,365243,-2512,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,100016,0,0,-13439,-2717,-3227,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
13,100017,0,1,-14086,-3028,-4911,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
14,100018,0,0,-14583,-203,-2056,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15,100019,0,0,-8728,-1157,-1368,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
16,100020,0,0,-12931,-1317,-3866,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
17,100021,0,1,-9776,-191,-2427,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
18,100022,0,0,-17718,-7804,-1259,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
19,100023,0,1,-11348,-2038,-3964,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
20,100024,0,0,-18252,-4286,-1800,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
21,100025,0,1,-14815,-1652,-2299,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
22,100026,0,1,-11146,-4306,-2518,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
23,100027,0,0,-24827,365243,-3684,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,100029,0,2,-11286,-746,-3729,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25,100030,0,0,-19334,-3494,-2893,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26,100031,1,0,-18724,-2628,-1827,1,1,0,1,...,0,0,0,0,1,0,0,0,0,0
27,100032,0,1,-15948,-1234,-3153,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
28,100033,0,0,-9994,-1796,-2661,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
29,100034,0,0,-10341,-1010,-3015,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,-20644,-3147,-3832,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307482,456226,0,0,-14106,-226,-933,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307483,456227,0,0,-24911,365243,-4213,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307484,456228,0,0,-12847,-328,-35,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307485,456229,0,1,-11973,-670,-626,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307486,456230,0,1,-16010,-1185,-4392,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307487,456231,0,0,-23125,365243,-4115,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307488,456232,0,0,-10092,-1218,-2783,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307489,456233,1,0,-16471,-286,-9,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307490,456234,0,0,-9874,-1928,-2557,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307491,456235,0,2,-10976,-1953,-3369,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307492,456236,0,0,-20965,-1618,-4410,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307493,456237,0,0,-17533,-2306,-1094,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307494,456238,0,1,-14958,-6573,-4519,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307495,456239,0,0,-20922,-7438,-4440,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307496,456240,0,0,-17345,-2178,-876,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307497,456241,0,0,-16679,-1222,-222,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307498,456242,0,0,-19102,-3689,-2650,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307499,456243,0,0,-16988,-8694,-509,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307500,456244,0,0,-20390,-5326,-3906,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307501,456245,0,3,-12961,-1046,-3780,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307502,456246,0,1,-16063,-8736,-4531,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307503,456247,0,0,-11870,-399,-3936,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307504,456248,0,0,-16705,-7258,-259,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,0,-24384,365243,-2357,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307506,456251,0,0,-9327,-236,-1982,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307507,456252,0,0,-20775,365243,-4090,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307508,456253,0,0,-14966,-7921,-5150,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,0,-11961,-4786,-931,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,0,-16856,-1262,-410,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
app_train.select_dtypes(exclude=['int64', 'float64'])

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
5,Cash loans,M,N,Y,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Other,NaN,NaN,NaN,NaN
6,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Accountants,SUNDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
7,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,Managers,MONDAY,Other,NaN,NaN,NaN,NaN
8,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
9,Revolving loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,THURSDAY,Electricity,NaN,NaN,NaN,NaN
10,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Core staff,SATURDAY,Medicine,NaN,NaN,NaN,NaN
11,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,NaN,NaN,NaN,NaN
12,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 2,reg oper account,block of flats,NaN,No
13,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
14,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Transport: type 2,reg oper account,block of flats,Panel,No
15,Cash loans,M,Y,Y,Family,Working,Secondary / secondary special,Single / not married,Rented apartment,Laborers,SATURDAY,Business Entity Type 2,NaN,NaN,NaN,NaN
16,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Government,NaN,NaN,NaN,NaN
17,Revolving loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,NaN,NaN,NaN
18,Revolving loans,F,N,Y,Other_A,Working,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Housing,reg oper account,block of flats,"Stone, brick",No
19,Cash loans,F,N,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,MONDAY,Kindergarten,NaN,NaN,NaN,NaN
20,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Self-employed,reg oper account,block of flats,"Stone, brick",No
21,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,NaN,NaN,NaN,NaN
22,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,Sales staff,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
23,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,org spec account,block of flats,Mixed,No
24,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
25,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Cleaning staff,SATURDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
26,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Cooking staff,MONDAY,Business Entity Type 3,NaN,block of flats,Wooden,Yes
27,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Laborers,SATURDAY,Industry: type 11,NaN,NaN,NaN,NaN
28,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,NaN,WEDNESDAY,Military,NaN,NaN,NaN,NaN
29,Revolving loans,M,N,Y,Unaccompanied,Working,Higher education,Single / not married,With parents,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Managers,FRIDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307482,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Telecom,not specified,block of flats,Block,No
307483,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307484,Cash loans,F,Y,N,Unaccompanied,Commercial associate,Secondary / secondary special,Married,Rented apartment,Managers,MONDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307485,Revolving loans,F,N,Y,Family,Working,Secondary / secondary special,Separated,With parents,Sales staff,SATURDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307486,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,NaN,SATURDAY,Business Entity Type 2,NaN,block of flats,Panel,No
307487,Cash loans,M,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
307488,Cash loans,F,N,N,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,WEDNESDAY,Government,NaN,NaN,NaN,No
307489,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,FRIDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",Yes
307490,Cash loans,M,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Laborers,SATURDAY,Business Entity Type 1,NaN,NaN,NaN,NaN
307491,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,SATURDAY,Self-employed,NaN,NaN,NaN,NaN
307492,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,FRIDAY,Self-employed,NaN,NaN,NaN,NaN
307493,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Security staff,MONDAY,School,NaN,NaN,NaN,NaN
307494,Cash loans,M,Y,N,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Self-employed,NaN,NaN,NaN,NaN
307495,Cash loans,M,Y,N,Unaccompanied,Working,Higher education,Married,House / apartment,High skill tech staff,WEDNESDAY,Business Entity Type 3,org spec account,block of flats,Panel,No
307496,Revolving loans,F,N,N,Family,Working,Higher education,Married,House / apartment,Cooking staff,THURSDAY,Self-employed,NaN,NaN,NaN,NaN
307497,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,Trade: type 7,NaN,NaN,NaN,NaN
307498,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,block of flats,Panel,No
307499,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Medicine staff,TUESDAY,Medicine,NaN,NaN,NaN,NaN
307500,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,FRIDAY,Business Entity Type 3,NaN,block of flats,Panel,No
307501,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,WEDNESDAY,Industry: type 1,NaN,block of flats,"Stone, brick",No
307502,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,School,NaN,NaN,NaN,NaN
307503,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Core staff,SATURDAY,Bank,NaN,NaN,NaN,NaN
307504,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,Sales staff,WEDNESDAY,Self-employed,NaN,NaN,NaN,NaN
307505,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,Panel,No
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,NaN,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,NaN,block of flats,Panel,No

In [6]:
app_train.select_dtypes(include=["int64"]).apply(pd.Series.nunique, axis = 0)

SK_ID_CURR                     307511
TARGET                              2
CNT_CHILDREN                       15
DAYS_BIRTH                      17460
DAYS_EMPLOYED                   12574
DAYS_ID_PUBLISH                  6168
FLAG_MOBIL                          2
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
FLAG_CONT_MOBILE                    2
FLAG_PHONE                          2
FLAG_EMAIL                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
HOUR_APPR_PROCESS_START            24
REG_REGION_NOT_LIVE_REGION          2
REG_REGION_NOT_WORK_REGION          2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
dtype: int64

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [7]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [8]:
# sub_train.as_matrix()
# sub_train.values
asub_train = np.array(sub_train)
asub_train[:,0]

array(['WEDNESDAY', 'MONDAY', 'MONDAY', ..., 'THURSDAY', 'WEDNESDAY',
       'THURSDAY'], dtype=object)

In [9]:
"""
Your Code Here
"""
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
LabelEn = LabelEncoder().fit_transform(asub_train[:,0])
print(LabelEn.shape)
print(LabelEn)

(307511,)
[6 1 1 ... 4 6 4]

In [10]:
OneHotEn = OneHotEncoder().fit_transform(LabelEn.reshape(-1,1))
print(OneHotEn.shape)
print(type(OneHotEn))
print(OneHotEn.toarray())

(307511, 7)
<class 'scipy.sparse.csr.csr_matrix'>
[[0. 0. 0. ... 0. 0. 1.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 1. 0. 0.]]

In [11]:
sub_train=pd.DataFrame(OneHotEn.toarray(), columns=['FRIDAY','MONDAY','SATURDAY','SUNDAY','THURSDAY','TUESDAY','WEDNESDAY'])
sub_train.head()

   FRIDAY  MONDAY  SATURDAY  SUNDAY  THURSDAY  TUESDAY  WEDNESDAY
0     0.0     0.0       0.0     0.0       0.0      0.0        1.0
1     0.0     1.0       0.0     0.0       0.0      0.0        0.0
2     0.0     1.0       0.0     0.0       0.0      0.0        0.0
3     0.0     0.0       0.0     0.0       0.0      0.0        1.0
4     0.0     0.0       0.0     0.0       1.0      0.0        0.0