## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

# 方法一

In [169]:
data_dict = {'國家': ['Taiwan', 'USA', 'China'],
        '人口': np.random.randint(100000000,size=3)}
data_pd = pd.DataFrame(data_dict, index=['a','b','c'])
data_pd

       國家        人口
a  Taiwan  80609084
b     USA   9031144
c   China  91162426

# 方法二

In [170]:
data_arr_cty = np.array(['Taiwan','USA','China'])
print(data_arr_cty.shape)

data_arr_ppl = np.random.randint(100000000,size=3)
print(data_arr_ppl.shape)

list_labels = ['國家','人口']
list_cols = [data_arr_cty, data_arr_ppl]

zipped = zip(list_labels, list_cols)
# print(list(zipped))
# print(dict(zipped))

data_pd = pd.DataFrame(dict(zipped))
data_pd

(3,)
(3,)

       國家        人口
0  Taiwan  26274862
1     USA  30244738
2   China  72052398

In [174]:
data_arr_cty = ['Taiwan','USA','China']
data_arr_ppl = np.random.randint(100000000,size=3)


list_labels = ['國家','人口']
list_cols = [data_arr_cty, data_arr_ppl]    

zipped = zip(list_labels, list_cols)
# print(list(zipped))
# print(dict(zipped))

data_pd = pd.DataFrame(dict(zipped))
data_pd

       國家        人口
0  Taiwan  87095890
1     USA  66860526
2   China  51143447